.navbar1 {
    color: white;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
   
  }
  
  
  .navbar1 a {
    background-color: rgb(134, 134, 134);
    text-align: center;
    margin: 80px;
    margin-left: 490px;
    margin-right: 490px;
    padding : 30px;
    display: flex;
     flex-direction: column;
    color: white;
    text-decoration: none;
    border-radius: 30px;
  }
  
  .navbar1 a:hover {
    text-decoration: none;
    background-color: rgb(0, 0, 0);
}